a:link {
	color:#6161B0;
}

a:visited {
	color:#000000;
}

body {
	margin:0;
}

.div_banniere {
	height:100px;
	background-color:#6161B0;
	font-size:30px;
	font-family:Verdana;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	width:960px;
	height: 100px;
	padding-top:9px;
	float:left;
}

.div_contenu_cadre {
	width:100%;
	float:left;
	background-color:#BFBFFF;
	text-align:center;
	padding-bottom:9px;
}

.div_menu_gauche {
	width:500px;
	height:30px;
	background-color:#9090E0;
	float: left;
	padding-top:9px;
	padding-left:9px;
	text-decoration:none;
}

.div_menu_droit {
	width:300px;
	height:30px;
	background-color:#9090E0;
	float: right;
	padding-top:9px;
	padding-right:9px;
	text-align:right;
}

.div_pied {
	height:30px;
	background-color:#6161B0;
	margin-left:auto;
	margin-right:auto;
	/*display:table-cell;*/
	/*width:960px;*/
	/*vertical-align:middle;*/
	text-align:center;
	padding-top:10px;
	clear:both;
}

.div_principal {
	background-color:#9090E0;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.div_tentatives {
	text-align:center;
	margin:auto;
}

.img_banniere {
	height:80px;
	width:100%;
	padding-top:5px;
}

.a_sans_u {
	text-decoration:none;
}

.span_tentatives {
	color:red;
}

.span_titre {
	font-size:24px;
	font-weight:bold;
}

table {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.table_config {
	border:2px solid black;
	border-spacing:0px;
	border-collapse:separate;
}

.table_login {
	border:2px solid black;
}

td {
	text-align:center;
	vertical-align:middle;
	color:black;
}

.td_nom_attribut {
	font-weight:bold;
	text-align:right;
	color:black;
}